env/
config.py
transcript_1
transcript_2
transcript_3
transcript_4
transcript_5
transcript_6
transcript_8
transcript_9
transcript_10
transcript_12
transcript_13
transcript_14
transcript_15
transcript_16
transcript_17
transcript_18
transcript_19
transcript_20
transcript_21
transcript_22
transcript_23
transcript_24
transcript_25
transcript_26
transcript_27
transcript_28
transcript_29
transcript_30
transcript_31
transcript_32
transcript_33
transcript_34
transcript_35
transcript_36
transcript_37
transcript_38
transcript_39
transcript_40
transcript_41
transcript_42
transcript_43
transcript_44
transcript_45
transcript_46
transcript_47
transcript_48
transcript_49
transcript_50
transcript_51
transcript_52
transcript_53
transcript_54
transcript_55
transcript_56
transcript_57
transcript_58
transcript_59
transcript_60
transcript_61
transcript_62
transcript_63
transcript_64
transcript_65
transcript_66
transcript_67
transcript_68
transcript_69
transcript_70
transcript_71
transcript_72
transcript_73
transcript_74
transcript_75
transcript_76
transcript_77
transcript_78
transcript_79
transcript_80
transcript_81
transcript_82
transcript_83
transcript_84
transcript_85
transcript_86
transcript_87
transcript_88
transcript_89
transcript_90
transcript_91
transcript_92
transcript_93
transcript_94
transcript_95
transcript_96
transcript_97
transcript_98
transcript_99
transcript_100
transcript_101
transcript_102
transcript_103
transcript_104
transcript_105
transcript_106
transcript_107
transcript_108
transcript_109
transcript_110
transcript_111
transcript_113
transcript_115
transcript_116
transcript_117
transcript_118
transcript_119
transcript_120
transcript_121
transcript_122
transcript_124
transcript_125
transcript_126
transcript_127
transcript_128
transcript_129
transcript_131
transcript_132
transcript_133
transcript_134
transcript_135
transcript_136
transcript_137
transcript_138
transcript_139
transcript_140

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/